/* estilização do elemento com id="root" */
#root {
    max-width: 1280px; 
    margin: 0 auto; 
    padding: 2rem;
    text-align: center; 
}

/* estilização da classe logo (para imagens de logo) */
.logo {
    height: 6em;
    padding: 1.5em; 
    will-change: filter; 
    transition: filter 300ms; 
}
/* estilização da classe logo ao passar o mouse (hover) */
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa); 
}
/* estilização da classe logo com a classe react ao passar o mouse */
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa); 
}

/* define a animação de rotação */
@keyframes logo-spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

/* regra de mídia: aplica estilos somente se o usuário não preferir movimento reduzido (acessibilidade) */
@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

/* estilização da classe card */
.card {
    padding: 2em; 
}

/* estilização da classe read-the-docs */
.read-the-docs {
    color: #888; 
}